In [3]:

import gmaps
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
import time
from us import states

In [4]:
hospitals_load = "./csv_references/Hospitals.csv"
hospital_data = pd.read_csv(hospitals_load)

quality_load = "./csv_references/Quality.csv"
quality_data = pd.read_csv((quality_load), dtype="object", encoding="utf-8")

county_load = "./csv_references/countydata.csv"
county_data = pd.read_csv((county_load),dtype="object", encoding="utf-8")

bama_load = "./csv_references/alabama_data.csv"
bama_data = pd.read_csv(bama_load)

minn_load = "./csv_references/minnesota_data.csv"
minn_data = pd.read_csv(minn_load)

pop_load = "./csv_references/makeup.csv"
mua_data = pd.read_csv(pop_load)

In [5]:
hospital_df = hospital_data
quality_df = quality_data
county_df = county_data

In [6]:
hospital_state = hospital_df["STATE"]
hospital_name = hospital_df["NAME"]
hospital_latitude = hospital_df["LATITUDE"]
hospital_longitude = hospital_df["LONGITUDE"]
hospital_city = hospital_df["CITY"]
hospital_county = hospital_df["COUNTY"]
hospital_type = hospital_df["TYPE"]
hospital_trauma = hospital_df["TRAUMA"]
hospital_zip = hospital_df["ZIP"]
hospital_population = hospital_df["POPULATION"]

updated_hospital_df = pd.DataFrame({
    
    "State": hospital_state,
    "Name": hospital_name,
    "Latitude": hospital_latitude,
    "Longitude": hospital_longitude,
    "City": hospital_city,
    "County": hospital_county,
    "Type": hospital_type,
    "Trauma": hospital_trauma,
    "Zip": hospital_zip, 
})


hospital2_df = updated_hospital_df[["County","State","Name", "Latitude", "Longitude", "Type", "Trauma", "City", "Zip"]]
hospital2_df = hospital2_df.set_index("Zip")
hospital2_df.head()

hospital2_df.to_csv("./csv_references/hospitaldf.csv", header=True, index=True)

In [7]:
hospital2_df.head()

,County,State,Name,Latitude,Longitude,Type,Trauma,City
Zip,,,,,,,,
2129,SUFFOLK,MA,SPAULDING REHABILITATION HOSPITAL,42.378509,-71.049056,REHABILITATION,NOT AVAILABLE,BOSTON
2537,BARNSTABLE,MA,SPAULDING REHABILITATION HOSPITAL CAPE COD,41.732984,-70.468103,REHABILITATION,NOT AVAILABLE,SANDWICH
1904,ESSEX,MA,NORTH SHORE MEDICAL CENTER - UNION CAMPUS,42.501800,-70.979900,GENERAL ACUTE CARE,NOT AVAILABLE,LYNN
2062,NORFOLK,MA,NORWOOD HOSPITAL,42.189000,-71.202100,GENERAL ACUTE CARE,NOT AVAILABLE,NORWOOD
2302,PLYMOUTH,MA,SIGNATURE HEALTHCARE BROCKTON HOSPITAL,42.087900,-70.991500,GENERAL ACUTE CARE,NOT AVAILABLE,BROCKTON

In [8]:
quality_imu = quality_df["IMU Score"]
quality_county = quality_df["COUNTY EQUIVALENT NAME"]
quality_state= quality_df["State Abbreviation"]
quality_zip = quality_df['Common State County FIPS Code']
quality_name = quality_df['Complete County Name']
quality_providers = quality_df["Designation Population in a Medically Underserved Area/Population (MUA/P)"]

updated_quality_df = pd.DataFrame({
    
    
    "State": quality_state,
    "IMU Score": quality_imu,
    "Zipcode": quality_zip,
    "County Name": quality_name,
    "Population Underserved": quality_providers

})

In [9]:
updated_quality_df.duplicated().sum()

13258

In [10]:
quality1_df = updated_quality_df[["State","IMU Score", "County Name", "Population Underserved"]]

quality1_df.head()
quality1_df.to_csv("./csv_references/quality1_df.csv", header=True, index=True)

In [11]:
updated_quality_df.head()

  State IMU Score Zipcode        County Name Population Underserved
0    PW      42.5   70002     Aimeliik State                  10762
1    PW      42.5   70100     Kayangel State                  10762
2    PW      42.5   70218  Ngarchelong State                  10762
3    PW      42.5   70222     Ngardmau State                  10762
4    PW      42.5   70050   Hatoboheit State                  10762

In [12]:
county_lat = county_df["INTPTLAT"]
county_long = county_df["INTPTLONG"]
county_name = county_df["NAME"]

    
county_df = pd.DataFrame({
    
    
    "Lat": county_lat,
    "Lng": county_long,
    "County Name": county_name

})
county_df.to_csv("./csv_references/county_df.csv", header=True, index=True)
county_df.dtypes

Lat            object
Lng            object
County Name    object
dtype: object

In [13]:
df1 = pd.merge(
    updated_quality_df, county_df, how="inner", on=["County Name"])
df2 = df1.set_index("County Name")

df2.dropna()
df2.to_csv("./csv_references/final_zip.csv", header=True, index=True)

In [14]:
bama_data.iloc[0,2]

'4,874,747'

In [15]:
minn_data.iloc[0,2]

'5,576,606'

In [16]:
state_1 = mua_data["State Abbreviation"]
population_1 = mua_data["Medically Underserved Area/Population (MUA/P) Total Resident Civilian Population"]
zip_1 = mua_data["Common State County FIPS Code"]
df2 = pd.DataFrame({
    "State": state_1,
    "Population": population_1,
    "Zip": zip_1
})
df3 = df2.dropna()

In [17]:
df4 = df3.loc[df3['State'].isin(["AL"])]
df5 = df4.set_index("Population")
df5 = df5[~df5.index.duplicated(keep='first')]
df6 = df5.reset_index()
df6

    Population State   Zip
0      12670.0    AL  1061
1      11437.0    AL  1099
2      11111.0    AL  1013
3      27714.0    AL  1127
4       7412.0    AL  1131
5      13154.0    AL  1025
6      24907.0    AL  1047
7      15958.0    AL  1109
8      10086.0    AL  1017
9      11639.0    AL  1017
10     18006.0    AL  1021
11     12141.0    AL  1005
12    114984.0    AL  1073
13     31763.0    AL  1057
14     23874.0    AL  1133
15     13737.0    AL  1119
16     21917.0    AL  1111
17     19771.0    AL  1107
18      9744.0    AL  1105
19     20804.0    AL  1091
20     11576.0    AL  1085
21     16998.0    AL  1067
22     16147.0    AL  1065
23      9047.0    AL  1063
24     13873.0    AL  1041
25     11064.0    AL  1037
26     13322.0    AL  1035
27     14474.0    AL  1029
28     13845.0    AL  1027
29     13838.0    AL  1023
30     10647.0    AL  1011
31    249000.0    AL  1003
32     46798.0    AL  1001

In [18]:
Total_bama = df6["Population"].sum()
Total_bama

873458.0

In [19]:
df40 = df3.loc[df3['State'].isin(["MN"])]
df50 = df40.set_index("Population")
df50 = df50[~df50.index.duplicated(keep='first')]
df60 = df50.reset_index()
df60

    Population State    Zip
0       5634.0    MN  27145
1       1335.0    MN  27077
2       4067.0    MN  27047
3       6233.0    MN  27057
4       4315.0    MN  27081
5      11239.0    MN  27137
6      10569.0    MN  27071
7       6406.0    MN  27107
8       2761.0    MN  27015
9       2645.0    MN  27081
10      6158.0    MN  27095
11      1722.0    MN  27031
12      2141.0    MN  27073
13      3416.0    MN  27133
14      2830.0    MN  27033
15      3806.0    MN  27159
16     11425.0    MN  27111
17      2875.0    MN  27137
18      5235.0    MN  27137
19      9839.0    MN  27137
20     26435.0    MN  27053
21      3485.0    MN  27155
22      9445.0    MN  27089
23      5030.0    MN  27087
24     11043.0    MN  27063

In [20]:
Total_MIN = df60["Population"].sum()
Total_MIN

160089.0