In [24]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as stats

# Name of the CSV file
table2 = 'csv_references/health_ineq_online_table_2.csv'

# create df
table2_df = pd.read_csv(table2)

# Preview of the DataFrame
table2_df.head()

,gnd,pctile,year,count,hh_inc,le_agg,le_raceadj,sd_le_agg,sd_le_raceadj
0,F,1,2001,398740,499.10938,79.682068,79.893463,0.392838,0.385240
1,F,1,2002,411159,541.30695,79.183594,79.410622,0.353981,0.346817
2,F,1,2003,420298,529.13910,79.364410,79.572174,0.364780,0.359097
3,F,1,2004,427728,499.29950,79.898407,80.092476,0.352018,0.347992
4,F,1,2005,433665,474.14536,80.283600,80.465935,0.334612,0.330986

In [25]:
table2_df.dtypes

gnd               object
pctile             int64
year               int64
count              int64
hh_inc           float64
le_agg           float64
le_raceadj       float64
sd_le_agg        float64
sd_le_raceadj    float64
dtype: object

In [26]:
table2_df.columns

Index(['gnd', 'pctile', 'year', 'count', 'hh_inc', 'le_agg', 'le_raceadj',
       'sd_le_agg', 'sd_le_raceadj'],
      dtype='object')

In [27]:
nat_gen_inc = table2_df[["gnd", "pctile", "year", "le_raceadj"]]
nat_gen_inc.head()

  gnd  pctile  year  le_raceadj
0   F       1  2001   79.893463
1   F       1  2002   79.410622
2   F       1  2003   79.572174
3   F       1  2004   80.092476
4   F       1  2005   80.465935

In [28]:
# queartile bins

# Create the bins in which Data will be held
bins = [0, 25, 50, 75, 100]

# Create the names for the bins
group_names = ["Q1", "Q2", "Q3", "Q4"]

#Categorize using the percentile bins
nat_gen_inc["quartiles"] = pd.cut(nat_gen_inc["pctile"], bins, labels=group_names)
nat_gen_inc.head()

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.

  gnd  pctile  year  le_raceadj quartiles
0   F       1  2001   79.893463        Q1
1   F       1  2002   79.410622        Q1
2   F       1  2003   79.572174        Q1
3   F       1  2004   80.092476        Q1
4   F       1  2005   80.465935        Q1

In [29]:
nat_gen_inc.to_csv("csv_references/nat_gen_inc.csv", index=False, header= True)